{% extends 'base.html' %}
{% block title %}Home{% endblock %}

{% block admin %}

{% if auth %}

| <a href="/admin" class="nav-desktop-item nav-desktop-link">Admin</a>
| <a href="/signout" class="nav-desktop-item nav-desktop-link">Sign out</a>

{% else %}

| <a class="nav-desktop-item nav-desktop-link" href="/login">Login</a>

{% endif %}

{% endblock %}
{% block body %}

<h1 class="heading">Idealogic</h1>

<img src="/static/logo.png" alt="💡" class="bot">
<div class="card bg"><div id="ans">
    <ul>
        <li>Good morning. I am Idealogic.</li>
        <li>How may I help you today?</li>
    </ul>
</div></div>
<!-- Image Credits: valeriya_dor/Adobe Stock -->

{% if auth %}
<div class="cookie" id="cookie">
    By continuing to use this site as an admin, you hereby acknowledge that this site uses cookies.
    <a class="link" href="#" onclick="dismissCookie()">Dismiss</a>
</div>
<div class="cookie-bookmark" id="effect"></div>
{% endif %}

<div class="ask">
    <select id="filter" class="form" onchange="ux()">
        <option value="by">Give me quotes by</option>
        <option value="about">Give me quotes about</option>
        <option value="all">Give me all you've got</option>
    </select><input type="text" id="ask" class="form"><button class="btn btn-info" onclick="render(allQuotes, allCategs)">Submit</button>
</div>
<div class="bookmark"></div>


{% endblock %}

{% block script %}
<script>
    ux()

    const allQuotes = [
        {% for quote in quotes %}
        {
            id: {{ quote.id }},
            categ: "{{ quote.categ }}",
            quote: "{{ quote.quote }}",
            person: "{{ quote.person }}"
        },
        {% endfor %}
    ]
    const allCategs = {
        {% for categ in categs %}
        {{ (categ.name).upper() }}: {{ categ.id }},
        {% endfor %}
    }
</script>
{% endblock %}